#container{
  width: 500px;
  margin: 150px auto;
  background: rgb(234, 239, 239);
  box-shadow: 5px 5px rgba(183, 210, 255, 0.2);
}

h1{
  background: #ffbae4;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.fa-angle-down{
    padding-left: 330px;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li{
  background: white;
  height: 40px;
  line-height: 40px;
}

li:nth-child(2n){
  background: #f4e2ff;
  height: 40px;
  line-height: 40px;
}

input{
    font-size: 18px;
    background-color: rgb(234, 239, 239);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    box-sizing: border-box;
    border:none;
    color: blue;
}

input:hover{
  border: 3px solid #7ca8ef;
  transition: 150ms;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

span{
  background: red;
  height:40px;
  margin-right: 20px;
  color: white;
  text-align: center;
  width:0;
  display: inline-block;
  opacity: 0;
}


li:hover span{
  /* IDEA: "li:hover span" means we that we will hover over li but functionality will get added to span */
  width: 40px;
  transition: 500ms;
  opacity:1;
}
